<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0225af17-b302-49cb-9176-b9f35cab9c17" Alias="Colors" Level="1">
  <Info>
    <Name>Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"f0f2e5\",\"label\":\"Grøn\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"b8bbe5\",\"label\":\"Blå\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"f6e8e3\",\"label\":\"Rød\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>