<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6aba72c1-fd41-4ade-9ef0-bf777773ce8b" Alias="Content - Block List" Level="1">
  <Info>
    <Name>Content - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>