<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10fe5dd0-2809-49e0-a1f7-02bed863fe46" Alias="Liste af Udtalelser - Block List 3" Level="1">
  <Info>
    <Name>Liste af Udtalelser - Block List 3</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "bbae8261-08d9-4699-ba29-cbf08411cace",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Udtalelser: {{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": 3
  }
}]]></Config>
</DataType>