<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bf2323b-0ee1-45cd-a4e3-a0f4f7eac96d" Alias="Multi URL Picker 0-1" Level="1">
  <Info>
    <Name>Multi URL Picker 0-1</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>