<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0151edd4-8891-4112-8be7-0d51d8caf135" Alias="Multi URL Picker 2" Level="1">
  <Info>
    <Name>Multi URL Picker 2</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 2,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>