<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cad7af87-0435-4bbd-be26-0ada956c5eff" Alias="Multi URL Picker 3" Level="1">
  <Info>
    <Name>Multi URL Picker 3</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 3,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>