<?xml version="1.0" encoding="utf-8"?>
<DataType Key="daa012dd-2a29-4610-acda-d533cb06ce38" Alias="Produkt - Størrelse - Dropdown" Level="1">
  <Info>
    <Name>Produkt - Størrelse - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Small"
    },
    {
      "id": 2,
      "value": "Medium"
    },
    {
      "id": 3,
      "value": "Large"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>