<?xml version="1.0" encoding="utf-8"?>
<DataType Key="43235a60-2cc7-4b4e-aa0b-5e8968b4a214" Alias="Produkt - Finishing på glasuren - Dropdown" Level="1">
  <Info>
    <Name>Produkt - Finishing på glasuren - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Blank"
    },
    {
      "id": 2,
      "value": "Mat"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>