<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aacb0741-4116-4841-9d63-7995e667f141" Alias="Produkt - Farve på glasuren - Dropdown" Level="1">
  <Info>
    <Name>Produkt - Farve på glasuren - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Rød"
    },
    {
      "id": 2,
      "value": "Blå"
    },
    {
      "id": 3,
      "value": "Brun"
    },
    {
      "id": 4,
      "value": "Hvid"
    },
    {
      "id": 5,
      "value": "Grøn"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>