<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e709294-8865-4d39-b51a-955ee5bf8500" Alias="Produkt - Materiale - Dropdown" Level="1">
  <Info>
    <Name>Produkt - Materiale - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Lava stentøjsler"
    },
    {
      "id": 2,
      "value": "Lys stentøjsler"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>