<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4063682a-1628-4cbb-9664-b92bdff1abd7" Alias="Værdier liste - Liste - Block List" Level="1">
  <Info>
    <Name>Værdier liste - Liste - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "ac88ad26-6b86-4ac7-8dfd-cf0c52881657",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Værdier: {{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 6,
    "min": 3
  }
}]]></Config>
</DataType>