<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="192d1198-fad3-4f50-a5c6-9c9b874d95d2" Alias="banner" Level="1">
  <Info>
    <Name>Banner</Name>
    <Icon>icon-roadsign color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Dette er banneret der bliver brugt på toppen af siderne</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e994bdcc-4d7c-441f-bfc6-ebab9d4cc571</Key>
      <Name>Titel</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Skriften inde i banneret]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9397210e-9363-4850-94a0-89cbbbdad5b5</Key>
      <Caption>Indhold</Caption>
      <Alias>indhold</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>