<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="53c802dd-e8e4-40fa-bfd3-2bca3ebe928e" Alias="contentPage" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-umb-content color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9055a064-c174-4a4e-9738-1a7d14da26de</Key>
      <Name>Komponenter</Name>
      <Alias>components</Alias>
      <Definition>6aba72c1-fd41-4ade-9ef0-bf777773ce8b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette er blocklisten, som kan fyldes med komponenter]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="komponenter">Komponenter</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>59ec08b4-c0da-4fb2-a8c2-b4c0edfda7c4</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette er sidens title]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contentfelter/indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>505debb9-87a7-48bf-8366-99520d9ae6de</Key>
      <Caption>Contentfelter</Caption>
      <Alias>contentfelter</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>54e1ea3c-5234-4404-a18d-c42414f65fea</Key>
      <Caption>Indhold</Caption>
      <Alias>contentfelter/indhold</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5f1b4dd9-579c-4e2c-bafd-0eb91c8e41ee</Key>
      <Caption>Komponenter</Caption>
      <Alias>komponenter</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>