<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e980b434-be8e-4399-86c9-1ab0e8b67fe5" Alias="footer" Level="1">
  <Info>
    <Name>Footer</Name>
    <Icon>icon-footprints color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Dette er til footer komponentet</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8d15276e-8aed-41b7-9a49-08f591d3169a</Key>
      <Name>Om mig links</Name>
      <Alias>aboutMeLinks</Alias>
      <Definition>0151edd4-8891-4112-8be7-0d51d8caf135</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette er links der navigerer til andre sider fra footeren]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d1c73363-5cbb-478b-a868-ebdab606da05</Key>
      <Name>Adresse</Name>
      <Alias>address</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette er virksomhedens adresse]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>daa8203b-1935-4ca3-8788-27ce2cbc8421</Key>
      <Name>Email</Name>
      <Alias>email</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette er virksomhedens email]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c361e109-b81e-46ea-bac3-688a57f76b99</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette er virksomhedens logo]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e408aea8-1e71-4916-9435-8e022575996d</Key>
      <Name>Telefon Nummer</Name>
      <Alias>phoneNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette er virksomhedens telefonnummer]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cf478c17-6470-47ad-81dd-cdf26d9d10bd</Key>
      <Name>Social links</Name>
      <Alias>socialLinks</Alias>
      <Definition>cad7af87-0435-4bbd-be26-0ada956c5eff</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette er links til virksomhedens sociale medier]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9709a8a9-0361-4129-bcda-79539176b277</Key>
      <Caption>Indhold</Caption>
      <Alias>indhold</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>