<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="243dc878-66dc-4a32-b670-7cc993bf5b91" Alias="navigationBar" Level="1">
  <Info>
    <Name>Navigations Bar</Name>
    <Icon>icon-outdent color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Navigations baren til hver side</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>bd8f93da-c732-4f34-8759-47dc1fd0b6dd</Key>
      <Name>Kurv Knap</Name>
      <Alias>cartButton</Alias>
      <Definition>b0c676c9-3d72-4d4b-adc7-6732a6551e62</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette er til kurven]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3671ca1-acdb-4614-9f20-ec706adb4422</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Virksomhedens logo]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12d5de03-99a7-4422-ae9c-58effd8907bd</Key>
      <Name>Menu Punkter</Name>
      <Alias>menuItems</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette vil være de forskellige sider navbaren skal kunne vise]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d2d90ff7-9bce-4e3e-a267-cac1758d30b2</Key>
      <Caption>Indhold</Caption>
      <Alias>indhold</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>