<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ccde47db-b8ba-40d9-bed0-f1895336e94e" Alias="productSection" Level="1">
  <Info>
    <Name>Produkt Sektion</Name>
    <Icon>icon-ordered-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Dette vil være sektionen der viser 4 kort. Fx "De Grønne" eller "Nyeste"</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d0aeff66-4c38-4697-8b46-16b4ed865acf</Key>
      <Name>Knap</Name>
      <Alias>button</Alias>
      <Definition>5bf2323b-0ee1-45cd-a4e3-a0f4f7eac96d</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette er knappen der skal bruges]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9fc69f53-a8f9-4c24-8d2e-086e8693cf3b</Key>
      <Name>Visnings Type</Name>
      <Alias>filterType</Alias>
      <Definition>0b6a45e7-44ba-430d-9da5-4e46060b9e03</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Her bestemmer du hvilken version der skal vises på siden]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ba11eb14-3cc7-43a7-9a2f-686cf90ab9c8</Key>
      <Name>Titel</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette vil være titlen på komponentet. fx "De Grønne"]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0e72ef90-28bc-4516-a5f3-47f09f004b5f</Key>
      <Caption>Indhold</Caption>
      <Alias>indhold</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>