<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4169b5b0-1913-4095-832e-55f852fa356a" Alias="testimonialSection" Level="1">
  <Info>
    <Name>Sektion af udtalelse</Name>
    <Icon>icon-megaphone color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Dette vil indeholde en liste af udtalelser</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>efa7dd40-41bf-4915-b7c4-1a00472a634b</Key>
      <Name>Liste</Name>
      <Alias>list</Alias>
      <Definition>10fe5dd0-2809-49e0-a1f7-02bed863fe46</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Liste af "udtalelser" elements]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>17e51408-a213-4ed4-82c0-23872c53b113</Key>
      <Name>Titel</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Dette vil være titlen på sektionen. (Kunder synes)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="indhold">Indhold</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>40af60b2-f532-4f87-9585-191ed1fe65ee</Key>
      <Caption>Indhold</Caption>
      <Alias>indhold</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>