name: Backend CI

on:
  pull_request:
  push:
    branches:
      - main
      - statictests

jobs:
  statiske-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code # bruges af github til at hente vores filer ind i ubuntu serveren
        uses: actions/checkout@v4

      # Placeholder: skal replaces når vi har konkrete static checks at køre
      - name: Static checks placeholder
        run: echo "Her kan vi tilføje statiske tests senere"

  api-tests:
    runs-on: ubuntu-latest
    needs: statiske-tests # bare så api-tests venter på at statiske-tests er færdig og køre kun, hvis den passer

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore UmbracoBackend/UmbracoBackend.csproj

      - name: Build backend
        run: dotnet build UmbracoBackend/UmbracoBackend.csproj --configuration Release --no-restore # Release for at køre et build der ligner produktion mest muligt, --no-restore fordi vi allerede har restored

      - name: Start Umbraco backend
        # for at sikre vi bruger den rigtige port
        run: |
          dotnet run --project UmbracoBackend/UmbracoBackend.csproj --urls "http://0.0.0.0:51857" &
          echo "Giver lige umbraco 25 sekunder til at starte op"
          sleep 25
          
      - name: Setup Node (Newman) # installerer Node så vi kan installere Newman
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Newman # så vi kan køre Postman tests
        run: npm install -g newman

      # - name: Run Newman Tests
      #   env:
      #     BASE_URL: {{ secrets.BASE_URL }}
      #     VALID_GUID: {{ secrets.VALID_GUID }}
      #     OUT_OF_STOCK_GUID: {{ secrets.OUT_OF_STOCK_GUID }}
      #     UNPUBLISHED_GUID: {{ secrets.UNPUBLISHED_GUID }}
      #   run: |
      #     newman run postman/keramik.postman_collection.json \
      #       -e postman/keramik.postman_environment.json \
      #       --env-var "base_url=$BASE_URL" \
      #       --env-var "valid_guid=$VALID_GUID" \
      #       --env-var "out_of_stock_guid=$OUT_OF_STOCK_GUID" \
      #       --env-var "unpublished_guid=$UNPUBLISHED_GUID"
