---
name: Backend CI

on:
  pull_request:
  push:
    branches:
      - main
      - statictests

jobs:
  statiske-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code  # bruges af github til at hente vores filer
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: YAML Lint
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: .github/workflows/
          config_data: |
            extends: default
            rules:
              line-length: disable

      - name: Check C# Formatting
        run: dotnet format UmbracoBackend/UmbracoBackend.csproj --verify-no-changes

      - name: NuGet Vulnerability Scan
        run: dotnet list UmbracoBackend/UmbracoBackend.csproj package --vulnerable --include-transitive

  api-tests:
    runs-on: ubuntu-latest
    needs: statiske-tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore dependencies
        run: dotnet restore UmbracoBackend/UmbracoBackend.csproj

      - name: Build backend
        run: dotnet build UmbracoBackend/UmbracoBackend.csproj --configuration Release --no-restore

      - name: Start Umbraco backend
        run: |
          dotnet run --project UmbracoBackend/UmbracoBackend.csproj --urls "http://0.0.0.0:51857" &
          echo "Giver lige umbraco 25 sekunder til at starte op"
          sleep 25

      - name: Setup Node (Newman)
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Newman
        run: npm install -g newman
